@page
@model MyHouse.Pages.FaqModel
@{
    ViewData["Title"] = "FAQ Dinâmico";
}

<h1>Perguntas Frequentes</h1>

<hr />

@foreach (KeyValuePair<int, Pergunta> pergunta in Model.Perguntas!.Data)
{
    @if (pergunta.Value.Resposta is not null) {
    <div>
        <strong>@pergunta.Value.Texto</strong> — <em>@pergunta.Value.Usuario.Nome</em>
        <p><small>@pergunta.Value.Hora</small></p>

        <p><strong>Resposta:</strong> @pergunta.Value.Resposta.Texto <em>(por @pergunta.Value.Resposta.Suporte.Nome)</em></p>
        
    </div>
    <hr />
    }
    else {
        Log.Instance.WriteLine($"Erro: Pergunta ID {pergunta.Key} não tem resposta cadastrada. Ocultando.");
    }
}
